* {
    font-family: 'Arial', sans-serif;
}

table tr td:first-child {
    text-align: right;
}

a.link {
    color: brown;
    text-decoration: underline;
}

a.link:visited {
    color: brown;
}

body {
    background-image: linear-gradient(to right, rgba(219, 221, 198, 1), rgba(219, 221, 198, 1) 50%, rgba(0, 0, 0, 0)), url(../images/stars_background.gif);
}

section {
    max-width: 50%;
}

h1 {
    text-align: left;
}

#foto {
    height: 200px;
    position: absolute;
    top: 10px;
    left: 50%;
    border: 3px dashed black;
}

hr {
    border-top: none;
    border-bottom: .5px solid black;
    width: 100%;
    margin: 0 0;
}

@media screen and (max-width: 400px) {
    body {
        background-image: none, none, none;
        background-color: rgba(219, 221, 198, 1)
    }

    section {
        max-width: 100%;
    }

    #foto {
        position: unset;
    }


}