* {
    font-family: 'Arial', sans-serif;
    color: white;
    cursor: url(../images/cursor/wii-pointer-ccw.png), default;
}

a {
    cursor: url(../images/cursor/wii-open-ccw.png), pointer;
}

table tr td:first-child {
    text-align: right;
}

.link {
    color: brown;
    text-decoration: underline;
}

.link:visited {
    color: brown;
}

body {
    background-image: linear-gradient(to right, #040404, #040404 50%, rgba(0, 0, 0, 0)), url(../images/bluestars2.gif);
    background-size: auto, 30%;
}

section {
    max-width: 50%;
}

/* p {
    text-align: justify;
    text-justify: distribute;
} */

h1 {
    text-align: left;
}

.foto {
    max-width: 100%;
    /* margin-left: 10%; */
    /* border: 3px dashed #086c95; */
}

hr {
    border-top: none;
    border-bottom: .5px solid white;
    width: 100%;
    margin: 0 0;
}

@media screen and (max-width: 400px) {
    body {
        background-image: none, none, none;
        background-color: #040404;
    }

    section {
        max-width: 100%;
    }

}