html {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    background-image: url("../images/graybrickbg.jpg");
}

h1,
p {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.window {
    margin-bottom: 10px;
}

.window#redes {
    width: 337px;
}

table {
    background-color: #c0c0c0;
    margin: 0px auto;
}

td {
    font-size: 18px;
    font-family: sans-serif;
}